
.nav-link.active {
    color: #0019ff !important; /* 设置文字颜色 */
    background-color: #f5f5f5; /* 设置背景颜色（可选） */
    border-radius: 0.25rem; /* 可选：添加圆角效果 */
}

#content-container {
    min-width: 300px; /* 设置最小宽度 */
    min-height: 600px; /* 设置最小高度 */
    width: auto; /* 自动调整宽度 */
    height: auto; /* 自动调整高度 */
    padding: 20px; /* 添加内边距以更好地展示内容 */
    box-sizing: border-box; /* 确保 padding 不影响整体大小 */
}